:root {
  --glass-opacity: 0.35;
  --glass-bg: rgba(32, 33, 36, var(--glass-opacity));
  --glass-blur: 13px;
  --toc-text-blur: 1px;
  --bg-image: url('/images/pexels-dreamypixel-547115.jpg');
  --show-particles: block;
  --avatar-main: url('/images/custom-main.jpg?t=1773593047536');
  }
